<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Python news</title>
</head>
<body style="background-color: #222;">
        <div class="container">
            <div class="row">
                <div class="text-center text-uppercase" style="font-size: 48px; color:white;">This news</div>
                <div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
На судоремонтном заводе под Петербургом опрокинулся строящийся траулер

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Чеченские силовики призывают родственников похищенных блогеров прибегнуть к "убийству чести"

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Минюст засекретил названия ведомств, от которых получил сведения о журналисте-"иноагенте" Маркелове*

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Марине Литвинович, которую потребовали исключить из ОНК из-за дела Соболь, теперь вменяют "неоднократное нарушение этики"

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Дмитрий Милин: "Выхода из российского тупика никто не знает"

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Леонид Гозман: "Конституция в России есть! И иногда она действует!"

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
В давке на церемонии прощания с президентом Танзании погибли 45 человек

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Вакцину от коронавируса AstraZeneca переименовали в Vaxzevria на фоне массового отказа от ее использования

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Байден ждет к середине апреля вакцинации 90% американцев

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Во Франции заполнены почти 90% мест в  реанимации, это выше показателя второй волны

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Долговая нагрузка россиян достигла рекордных 11,7% доходов

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Центробанк начнет собирать у россиян монеты, оседающие в их копилках

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Глава Паралимпийского комитета России покинул свой пост под давлением WADA

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Биатлонистка Ольга Подчуфарова вернулась в "цирк с грустными клоунами"

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Книга Марии Степановой "Памяти памяти. Романс" вошла в "длинный список" Международной Букеровской премии

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
За три месяца 2021 года новостройки в России подорожали почти на 5%

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
В правительстве спрогнозировали исчезновение большинства коммуналок в России в 2030 году

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
SpaceX потеряла четвертый прототип корабля Starship во время испытаний в "прыжке" на 10 километров (ВИДЕО)

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Mail.ru Group сменила главу "ВКонтакте" и создала совет по управлению соцсетями

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Компания Xiaomi официально объявила о намерении выпускать электрокары под своим брендом

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
В Kia раскрыли характеристики электрокара EV6 (ВИДЕО)

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Ученые поняли, каким образом, влияя на гены, вырастить новые зубы

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Обнаружен новый израильский штамм коронавируса

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
Суэцкий кризис показывает цену глобализации 

                            </p>
                        </div>
                    
                        <div class="text-left" style="color:brown">
                            <p style="font-size: 28px; margin-top: 50px">
                                
В отношении происхождения вируса остается полная неопределенность 

                            </p>
                        </div>
                    
                </div>
            </div>
        </div> 
</body>
</html>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>